.dialogame-card{
  padding: 5px;
  margin: 5px;
  margin-bottom: 15px;
  background-color: lightgray;
  border-radius: 3%;
}

.cardNo{
  border: solid black 1;
  padding: 2px;
  background-color: darkgray;
  margin:2px;
}

.userName{
  vertical-align: top;
}

.card-img{
  width:90%;
  height: 90%;
  max-width: 300px;
  padding: 5px;
  margin: 5px;
  border-radius: 5%;
}

.user-img{
  left: 19px;
  padding: 3px;
  margin: 0px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
}

.dbg-info{
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 8px;
}
