<!-- CWC - Coaching with Compassion -->
<div fxLayout="column" fxFlexFill style="height: 100%;">
  <!-- toolbar -->
  <div fxFlex="64px" style="overflow-y: hidden;">
    <mat-toolbar
      class="toolbar flexible mat-theme-indigo"
      color="primary"
      style="width: 100%;"
    >
      <a routerLink="/" title="Home" class="pointer">
        <img
          alt="Home"
          src="/assets/images/colabo-logo-url-square.jpg"
          height="55px"
          style="margin-right: 7px; opacity: 0.9; border-radius: 7px;"
        />
      </a>
      Визија будућности<!-- CWC - Dreaming -->
    </mat-toolbar>
  </div>

  <div
    fxFlex
    style="/*background-color: yellow;*/ overflow-y:scroll;; margin: 15px"
  >
    <div *ngIf="!isLoggedIn">
      <p>
        To access this page you need:
      </p>
      <a routerLink="/rima-login">
        <button mat-raised-button color="primary">Login</button>
      </a>

      <p>
        or
      </p>
      <a routerLink="/rima-register">
        <button mat-raised-button color="primary">Register</button>
      </a>
    </div>
    <div *ngIf="isLoggedIn">
      <!--TODO: to make localized (in Serbian) form field names and info -->
      <h1>Твоје визије идеалне будућности наше земље/света</h1>
      (напиши их након што си завршио CWC снивање на радионици)
      <!-- <h1>Your visions of the ideal future of our country/world</h1>
(write it after you have finished the CWC dreaming of the workshop) -->
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="text"
              placeholder="Визија бр. 1"
              formControlName="cwcVision1"
              value=""
            />
            <mat-error class="error-message"
              >Визија мора бити дужине барем 3 карактера</mat-error
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="text"
              placeholder="Визија бр. 2"
              formControlName="cwcVision2"
              value=""
            />
            <mat-error class="error-message"
              >Визија мора бити дужине барем 3 карактера</mat-error
            >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width">
            <input
              matInput
              type="text"
              placeholder="Визија бр. 3"
              formControlName="cwcVision3"
              value=""
            />
            <mat-error class="error-message"
              >Визија мора бити дужине барем 3 карактера</mat-error
            >
          </mat-form-field>
        </p>

        <p>
          <button
            mat-raised-button
            color="primary"
            type="submit "
            [disabled]="!form.valid || saved"
          >
            {{ saved ? "Послато" : "Пошаљи визије" }}
          </button>
          <!-- <button mat-raised-button (click)="partialUpdate() ">Partial Update</button>
        <button mat-raised-button (click)="fullUpdate() ">Full Update</button> -->
          <button mat-raised-button (click)="reset()">Обриши</button>
        </p>
      </form>
    </div>
  </div>
</div>
